* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/restrito.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.areaPrincipal {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000050;
}

.menuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100vw;
}

.menuPc {
    display: flex;
    flex-direction: row;
    position: relative;
}

.menuPc img {
    height: 10.5vh;
    width: auto;
}

.menuPc button {
    background: none;
    border: none;
}

#btnEsq {
    padding-right: 10px;
}

#btnDir {
    padding-left: 10px;
}

.pcImg {
    margin-top: 10px;
    height: 55vh;
    width: auto;
    position: relative;
}

.equipe img {
    height: 11vh;
    width: auto;
    margin-top: 10px;
    position: relative;
}

.btnLat {
    align-items: left;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 0px;
    margin-bottom: 250px;
}

.btnJogo {
    width: 70px;
    border-radius: 20px;
    border: 5px solid #8F8A0D;
    color: #000;
    background-color: #DBD409;
    border-radius: 15px;
}

#addMoney{
    width: 90px; 
    height: 65px;
    margin-top: 10px;
}

.money {
    margin-bottom: 250px;
    width: 250px;
    padding: 5px;
    border: 5px solid #8F8A0D;
    color: #000;
    background-color: #DBD409;
    border-radius: 15px;
}

.pokeDolar {
    height: 15px;
    width: auto;
}

.loja {
    align-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color: #06618F;
    position: absolute;
    width: 550px;
    height: 500px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 9;
    border-radius: 25px;
}

.gridLoja{
    margin-left: 50px;
    text-transform: uppercase;
}

.ovoLoja {
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loja button {
    margin-bottom: 20px;
    width: 120px;
    border: 5px solid #8F8A0D;
    color: #000;
    background-color: #DBD409;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
}

.gridPos {
    display: grid;
    grid-template-columns: 76px 76px 76px 76px 76px 76px;
    grid-auto-flow: row;
    padding-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    grid-template-areas: "overlaydemo";
    z-index: 1;
}

.gridPok {
    display: block;
    width: 65px;
    height: auto;
    grid-area: overlaydemo;
    text-align: center;
}

.escolhePok{
    width: 900px;
    height: 200px;
    background-color: #06618F;
    z-index: 5;
    position: absolute;
    border-radius: 25px;
    display: none;
}

.textEscolhePok{
    margin: 20px;
}

.btnEscolhePok{
    margin-left: 180px;
    border: none;
    background-color: #06618F;
}

.escolhePok img{
    height: 45px;
    width: auto;
}

.apagarPok{
    width: 200px;
    height: 150px;
    background-color: #1F9CDB;
    z-index: 5;
    position: absolute;
    border-radius: 25px;
    display: none;
}

.btnApagar{
    margin-left: 32px;
    width: 50px;
    height: auto;
    border: none;
    border-radius: 5px;
}