* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../assets/restrito.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.areaPrincipal {
    padding-bottom: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000050;
}

.menuPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100vw;
}

.menuPc{
    display: flex;
    flex-direction: row;
    position: relative;
}

.menuPc img{
    height: 10.5vh;
    width: auto;
}

.menuPc button{
    background: none;
    border: none;
}

#btnEsq{
    padding-right: 10px;
}

#btnDir{
    padding-left: 10px;
}

.pcImg{
    margin-top: 10px;
    height: 55vh;
    width: auto;
    position: relative;
}

.equipe img{
    height: 11vh;
    width: auto;
    margin-top: 10px;
    position: relative;
}

.btnLat{
    align-items: left;
    flex-direction: column;
    position: relative;
    display: flex;
}

.loja {
    flex-direction: column;
    align-self: center;
    justify-content: center;
    display: flex;
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    visibility: hidden;
    z-index: 2;
}

.loja img{
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loja button{
    margin-bottom: 20px;
}

.gridPos{
    display: grid;
    grid-template-columns: 76px 76px 76px 76px 76px 76px;
    grid-auto-flow: row;
    padding-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    grid-template-areas: "overlaydemo";
    z-index: 1;
}

.gridPok{
    display: block;
    width: 65px;
    height: auto;
    grid-area: overlaydemo;
    text-align: center;
}